.container {
  margin-top: 25px !important;
  top: 50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 30% !important;
  min-width: 450px;
  padding: 80px !important;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.formControl {
  color: #07b53b !important;
  font-size: 18px !important;
}
.formControl:focus {
  border-color: #06c755 !important;
  box-shadow: 0 0 0 0.25rem #15e16a96 !important;
  transition: 0.3s ease-in-out;
}
.loginTtl {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #07b53b !important;
  text-align: center;
  margin-bottom: 50px;
}
.loginBtn {
  width: 12rem;
  color: #07b53b !important;
  font-weight: bold !important;
  border: 2px solid #07b53b !important;
  background-color: unset !important;
  border-radius: 30px !important;
}
.loginBtn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #07b53b;
  transform: translateY(-0.4rem);
  transition: 0.3s ease-in-out;
  background-color: #07b53b !important;
  color: #fff  !important;
}
.forgotPwd {
  font-size: 18px;
  color:#07b53b !important;
  text-decoration: unset;
  font-weight: 500;
}
.forgotPwd:hover {
  text-decoration: underline;
}
