html, body, #root{
  min-height: 100% !important;
  height: 100%;
}
.navBar {
  color: #fff;
  background-color: #07b53b;
  border: 1px solid #07b53b;
  height: 45px !important;
  width: 100%;
  position: fixed;
  bottom: 0;
}