.loadingContainer {
    position: absolute;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    span {
        font-size: 25px;
        padding-left: 10px;
    }
}
