.container {
  width: 35% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px !important;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.registerTtl {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #07b53b !important;
  text-align: center;
  margin-bottom: 50px;
}
.formControl {
  color: #06c755 !important;
  font-size: 18px !important;
}
.formControl:focus {
  border-color: #06c755 !important;
  box-shadow: 0 0 0 0.25rem #15e16a96 !important;
  transition: 0.3s ease-in-out;
}
.resetBtn, .registerBtn {
  width: 12rem;
  font-weight: bold !important;
  background-color: unset !important;
  border-radius: 30px !important;
}
.resetBtn {
  color: #EB455F !important;
  border: 2px solid #EB455F !important;
}
.resetBtn:hover, .registerBtn:hover {
  transform: translateY(-0.4rem);
  transition: 0.3s ease-in-out;
  color: #fff  !important;
}
.resetBtn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #EB455F;
  background-color: #EB455F !important;
}
.registerBtn {
  color: #00b900 !important;
  border: 2px solid #00b900 !important;
}
.registerBtn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #06c755;
  background-color: #00b900 !important;
}